<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

  <head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    

    </head>

    <body class="hold-transition sidebar-mini layout-fixed">
        <div class="wrapper">
        
            <div th:fragment="content">

                <h1>This is About</h1>
            </div>
            
        </div>
  </body>

</html>