
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <head>
    <title layout:title-parttern="$CONTENT_TITLE - $DECORATOR_TITLE">Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    

    <th:block th:replace="~{/shared/_style}"></th:block>

    </head>

    <body class="hold-transition sidebar-mini layout-fixed">
        <div class="wrapper">        
            <div th:replace="~{/shared/_placeholder}"></div>
            <div th:replace="~{/shared/_navbar}"></div>
            <div th:replace="~{/shared/_sidebar}"></div>
            
            <!-- Content Wrapper. Contains page content -->
          
                <div class="content-wrapper">
                    <div layout:fragment="content"></div>

                    
                </div>
           <div th:replace="~{/shared/_footer}"></div>
            
        </div>
    

        <th:block th:replace="~{/shared/_script}"></th:block>
    
  </body>

</html>